@import '@assets/style/variables/index.scss';

.button-container {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: $purple-3;
  border: 1px solid $purple-4;

  .button-label {
    font-size: 14px;
    color: #fff;
  }

  &.none-outline-btn {
    border: none;
  }

  &:hover {
    cursor: pointer;

    &:not(:disabled) {
      opacity: 0.8;
    }
  }

  &:disabled {
    cursor: default;
    background-color: $gray-0;

    .button-label {
      color: $gray-3;
    }
  }
}
