// Set up themes
// theme-variables.scss
$themes: (
  light: (
    colorHeaderFooter: $white,
    colorText: $gray-4,
    colorBackground: $white,

    // Button
    colorBtn: $purple-3,
    colorBtnLabel: $white
  ),
  dark: (
    colorHeaderFooter: $gray-3,
    colorText: $white,
    colorBackground: $black,

    // Button
    colorBtn: $white,
    colorBtnLabel: $black
  )
);

$theme-map: null;

@function themed($key) {
  @return map-get($theme-map, $key);
}

// Apply for container

@include themify($themes) {
  &.page-container {
    background-color: themed('colorBackground');
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    a,
    label,
    span {
      color: themed('colorText');
    }

    button {
      background-color: themed('colorBtn');

      .button-label {
        color: themed('colorBtnLabel');
      }
    }
  }
}
