@import './reset';
@import './variables/index.scss';
@import './mixins/index.scss';

@include themify($themes) {
  &.global-container {
    background-color: themed('colorBackground');

    p,
    a,
    label,
    span {
      color: $white;
    }

    button {
      background-color: $white;

      .button-label {
        color: $black;
      }
    }
  }

  .page-body {
  }
}
.global-container {
  // background: #fff;
}
