@import '@assets/style/variables/index.scss';

.common-input-wrapper {
  display: flex;
  flex-direction: column;

  .common-input-label {
    margin-bottom: 0.5em;
    font-size: 12px;
    font-weight: bold;
  }

  .common-input {
    display: flex;
    align-items: center;
    border: 1px solid $light-blue-200;
    background-color: $white;
    border-radius: 4px;

    &-icon {
      margin-right: 4px;
    }

    &-field {
      width: 100%;
      border: none;
      outline: none;
      padding: 8px 10px;
    }
  }

  .common-input-error {
    color: $red-600;
    font-size: 12px;
    margin-top: 8px;
  }
}
