// White
$white: #fff;

// purple
$purple-0: #edc2fd;
$purple-1: #df92fd;
$purple-2: #b404f8;
$purple-3: #6e0298;
$purple-4: #4b0168;

// Gray
$gray-0: #f5f4f3;
$gray-1: #dfdcd9;
$gray-2: #b2aaa4;
$gray-3: #847970;
$gray-4: #4f4943;
