$icons-path: '../../media/icons';

@mixin icon($iconName, $size: 16px) {
  width: $size;
  height: $size;
  background: url('#{$icons-path}/#{$name}.svg') no-repeat center center;
  background-size: contain;
}

.search-white {
  @include icon('search-white');
}
