$icons-path: 'src/assets/media/icons';

@mixin icon($iconName, $size: 16px) {
  width: $size;
  height: $size;
  background: url('#{$icons-path}/#{$iconName}.svg') no-repeat center center;
  background-size: contain;
  display: inline-block;
}

.search-white {
  @include icon('search-white');
}
