.page-header {
  background-image: url('src/assets/media/images/templatemo-wave-header.jpg');
  .navbar {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    height: 150px;

    .nav-part {
      display: flex;

      align-items: center;
      padding: 0 40px;

      .logo {
        min-width: 100px;
        max-height: 100px;
      }

      .search {
        display: flex;
        align-items: center;
        background-color: $light-blue-600;
        border-radius: 0 20px 20px;
        cursor: pointer;

        .search-btn {
          display: flex;
          align-items: center;
          width: 50px;
        }
      }

      .nav-item {
        padding: 12px 20px;
        cursor: pointer;
        color: $white;
        font-weight: 800;

        &.start {
          border: 1px solid $white;
          border-radius: 20px;
        }

        &:hover {
          color: $light-blue-900;
          transition: all 0.5s;
        }
      }
    }
  }
}
