.page-header {
  background-image: url('src/assets/media/images/templatemo-wave-header.jpg');
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 150px;

    .nav-part {
      display: flex;

      padding: 0 40px;

      .logo {
        min-width: 100px;
        max-height: 100px;
      }

      .nav-item {
        padding: 12px 20px;
        cursor: pointer;

        &.start {
          border: 1px solid $white;
        }
      }
    }
  }
}
